*{

}

.menu{
    background-color: #212529;
}

.menu_list{
    padding-top: 0.8rem;
    color: white;
}

.menu_search{
    color: white;
}

.cart_button{
  background-color: #3f51b5;
  color: white;
}
