.cart{
  background-color: #212529;
  z-index: 1700;
}

.cart_back{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1600;
  min-height: 100vh;
  background: rgba(169, 169, 169, 0.5);
}

.cartProductImage{
  background-size: cover;
  border-radius: 50%;
}
